{% extends 'base.html.twig' %}

{% block title %}Welcome!{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-8">
                <div class="main-article mb-5 pb-3">
                    <h1 class="text-center mt-2">Strategy Pattern Design</h1>
                </div>
            </div>
            <!-- Right bar ad space -->
            <div class="col-sm-12 col-md-4 text-center">
            </div>
        </div>
    </div>
{% endblock %}